//基础变量
@import "variables";
//功能样式
@import "function.scss";

@media screen and (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 0 auto
  }
  .pd-100 {
    padding: 100px 0;
    .u-igateway {
      max-width: 500px;
      margin: 0 auto;
      padding-top: 30px;

      .title {
        color: black;
        font-size: 20px;
      }

      .img {
       width: 380px;
       margin-right: 100px;
      }

      .text {
        width: 500px;
        padding-left: 15px;
        font-size: 16px;
      }

      p {
        color: gray;
        font-size: 1.6rem;
        padding-top: 10px;
        line-height: 1.6;

        img {
          width: 25px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .content {
    width: 950px;
    margin: 0 auto
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .content {
    width: 750px;
    margin: 0 auto
  }
}

@media screen and (min-width: 800px) {
  .pd-100 {
    padding: 100px 0;

    .title {
      text-align: center;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 12px;
      color: #333;

      &.f-c-white {
        color: #fff;
      }

      &.f-c-gray {
        color: #555;
      }
    }

    .description {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.7;
      margin-bottom: 50px;
      color: gray;

      &.f-c-white {
        color: #fff;
      }

      &.f-c-gray {
        color: #555;
      }
    }

    .oneimg {
      margin-top: 60px;
      text-align: center;

      img {
        vertical-align: bottom;
      }
    }

    .icon-dispaly {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto 0;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 25%;
        display: block;
        padding-bottom: 25px;

        img {
          width: 90px;
          height: 90px;
          margin-bottom: 10px;
        }

        i {
          font-size: 60px;
        }

        span {
          display: block;
          font-size: 16px;
        }

        p {
          color: gray;
          font-size: 1.2rem;
          line-height: 1.7;
          padding: 10px 45px 0;
        }
      }
    }

    .u-iconui {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto 0;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      li {
        width: 230px;
        display: inline-block;
        padding-bottom: 25px;

        img {
          width: 90px;
          height: 90px;
          margin-bottom: 10px;
        }

        i {
          font-size: 60px;
        }

        span {
          display: block;
          font-size: 16px;
        }

        p {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.7;
          padding: 10px 30px 0;
        }
      }

      &.one {
        li {
          width: 160px;
        }
      }
    }

    .u-igateway {
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 30px;

      .title {
        color: black;
        font-size: 24px;
      }

      .img {
        width: 380px;
        margin-right: 100px;
      }

      .text {
        width: 300px;
        padding-top: 60px;
        font-size: 20px;
      }

      p {
        color: gray;
        font-size: 1.6rem;
        padding-top: 10px;
        line-height: 2.6;

        img {
          width: 25px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }

    &.nbottom {
      padding-bottom: 0;
    }

    &.f-border-b {
      border-bottom: solid #ddd 1px;
    }

    &.f-border-t {
      border-bottom: solid #ddd 1px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .content {
    width: 500px;
    margin: 0 auto
  }

  .pd-100 {
    padding: 80px 0;

    .title {
      text-align: center;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 12px;
      color: #333;

      &.f-c-white {
        color: #fff;
      }

      &.f-c-gray {
        color: #555;
      }
    }

    .description {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.7;
      margin-bottom: 50px;
      color: gray;

      &.f-c-white {
        color: #fff;
      }

      &.f-c-gray {
        color: #555;
      }
    }

    .oneimg {
      margin-top: 60px;
      text-align: center;

      img {
        vertical-align: bottom;
      }
    }

    .icon-dispaly {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto 0;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 25%;
        display: block;
        padding-bottom: 25px;

        img {
          width: 60px;
          height: 60px;
          margin-bottom: 10px;
        }

        i {
          font-size: 60px;
        }

        span {
          display: block;
          font-size: 16px;
        }

        p {
          color: gray;
          font-size: 1.2rem;
          line-height: 1.7;
          padding: 10px 15px 0;
        }
      }
    }

    .u-iconui {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto 0;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      li {
        width: 230px;
        display: inline-block;
        padding-bottom: 25px;

        img {
          width: 90px;
          height: 90px;
          margin-bottom: 10px;
        }

        i {
          font-size: 60px;
        }

        span {
          display: block;
          font-size: 16px;
        }

        p {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.7;
          padding: 10px 30px 0;
        }
      }

      &.one {
        li {
          width: 160px;
        }
      }
    }

    .u-igateway {
      max-width: 500px;
      margin: 0 auto;
      padding-top: 30px;

      .title {
        color: black;
        font-size: 20px;
      }

      .img {
        width: 380px;
        margin-right: 100px;
      }

      .text {
        width: 200px;
        padding-left: 15px;
        font-size: 16px;
      }

      p {
        color: gray;
        font-size: 1.6rem;
        padding-top: 10px;
        line-height: 1.6;

        img {
          width: 25px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }

    &.nbottom {
      padding-bottom: 0;
    }

    &.f-border-b {
      border-bottom: solid #ddd 1px;
    }

    &.f-border-t {
      border-bottom: solid #ddd 1px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .content {
    width: 300px;
    margin: 0 auto
  }

  .pd-100 {
    padding: 80px 0;

    .title {
      text-align: center;
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 12px;
      color: #333;

      &.f-c-white {
        color: #fff;
      }

      &.f-c-gray {
        color: #555;
      }
    }

    .description {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.7;
      margin-bottom: 50px;
      color: gray;

      &.f-c-white {
        color: #fff;
      }

      &.f-c-gray {
        color: #555;
      }
    }

    .oneimg {
      margin-top: 60px;
      text-align: center;

      img {
        vertical-align: bottom;
      }
    }

    .icon-dispaly {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto 0;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        display: block;
        padding-bottom: 25px;

        img {
          width: 40px;
          height: 40px;
          margin-bottom: 10px;
        }

        i {
          font-size: 60px;
        }

        span {
          display: block;
          font-size: 14px;
        }

        p {
          color: gray;
          font-size: 1.2rem;
          line-height: 1.7;
          padding: 10px 10px 0;
        }
      }
    }

    .u-iconui {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto 0;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      li {
        width: 230px;
        display: inline-block;
        padding-bottom: 25px;

        img {
          width: 45px;
          height: 45px;
          margin-bottom: 10px;
        }

        i {
          font-size: 60px;
        }

        span {
          display: block;
          font-size: 12px;
        }

        p {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.7;
          padding: 10px 30px 0;
        }
      }

      &.one {
        li {
          width: 55px;
        }
      }
    }

    .u-igateway {
      max-width: 300px;
      margin: 0 auto;
      padding-top: 30px;

      .img {
        width: 50%;
      }

      .text {
        width: 50%;
        padding: 0 15px;
        font-size: 12px;
      }

      p {
        color: gray;
        font-size: 1.4rem;
        line-height: 1.4;

        img {
          width: 25px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }

    &.nbottom {
      padding-bottom: 0;
    }

    &.f-border-b {
      border-bottom: solid #ddd 1px;
    }

    &.f-border-t {
      border-bottom: solid #ddd 1px;
    }
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1)
  }

  50% {
    -webkit-transform: rotate(180deg) scale(.6);
    transform: rotate(180deg) scale(.6)
  }

  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1)
  }
}

blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, Arial, sans-serif;
}

address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: 400;
}

abbr, body, fieldset, html, iframe, img {
  border: 0;
}

address, cite, dfn, em, i, var {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-weight: 400 !important;
}

code, kbd, pre, samp {
  font-family: inherit;
}

q:after, q:before {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

b, em, h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

a, a:hover, del, ins, s, u {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body, button, input, keygen, legend, select, textarea {
  outline: 0;
}

.disabled {
  display: none;
}

.loading {
  position: relative;

  &:after {
    z-index: 33;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-left: -20px;
    width: 26px;
    height: 26px;
    border: 2px solid #4db6ff;
    border-radius: 100%;
    background: 0 0 !important;
    content: "";
    border-bottom-color: transparent;
    -webkit-animation: rotate .75s 0s linear infinite;
    animation: rotate .75s 0s linear infinite;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 22;
  }
}

.mg-t-72 {
  margin-top: 72px;
}

.content {

  .title {
    color: #ffffff;
    text-align: center;

    h1 {
      font-size: 36px;
    }

    p {
      margin: 10px 0;
      font-size: 18px;
    }
  }
}

.dis_hide {
  display: none;
}

.bug_btn {
  background: #fff;
  display: inline-block;
  color: #0981E0;
  height: 46px;
  line-height: 46px;
  margin: 10px auto;
  font-size: 16px;
  padding: 0 40px;
  border-radius: 5px;
}

.popover-ul {
  background: #fff;
  border-radius: 6px;
  width: 630px;
  padding: 20px 0 0;
  overflow: hidden;
  left: 0;
  z-index: 99999;

  .a_link {
    display: block;
    margin: 0;
  }

  .popover-li {
    float: left;
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;

    .icon_img {
      width: 25px;
      height: 25px;
      float: left;
    }

    .popover-content {
      float: right;
      width: 86%;
      margin-top: 4px;

      p {
        font-size: 16px;
        color: #333;
        line-height: 18px;
      }

      span {
        color: #999;
        font-size: 12px;
        line-height: 18px;
        padding: 0;
        margin: 0;

        &:after {
          content: none;
        }
      }
    }

    &:hover {
      background: #f5f5f5;
    }
  }
}

.console-ul {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
  right: -27px;
  top: 46px;
  z-index: 99999;

  li {
    padding: 10px 20px;
    box-sizing: border-box;

    &:hover {
      background: #f5f5f5;
    }

    .console_icon {
      width: 24px;
      height: 24px;
      float: left;
    }

    .popover-content {
      text-align: left;

      p {
        font-size: 16px;
        color: #333;
        line-height: 20px;
        text-align: right;
      }
    }
  }
}

.upbx {
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 5px;

  a {
    margin-left: 0;
    padding-right: 0;

    &:hover {
      border: 0;
    }
  }

  .console {
    border: 1px solid #fff;
    border-radius: 6px;
    height: 32px;
    line-height: 30px;
    margin-top: 4px;
  }

  i {
    color: #fff;
    font-size: 20px;
    width: 50px;
  }

  em {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 12px;
    background: red;
    border-radius: 50%;
    left: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
  }

  img {
    margin: 20px 5px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
  }

  .ov {
    top: 50px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px #ddd;
    display: none;
    width: 100%;
    overflow: hidden;
    line-height: 38px;
    position: absolute;
    background: #fff;
    border-radius: 6px;

    a {
      color: gray;
      display: block;
      font-size: 1.4rem;
      padding: 0 20px;
      line-height: 38px;
      height: 38px;

      &:hover {
        background: #18c1d6;
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .main {

    .card {
      width: 100%;

      .card-item {
        display: table;
        width: 80%;
        max-width: 1080px;
        margin: 0 auto 0;
        padding-top: 5%;

        h1 {
          text-align: center;
          font-weight: 400;
          color: #555;
          font-size: 4.8rem;
          padding-bottom: 80px;
        }

        h3 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 34px;
          padding-bottom: 80px;
          color: #777;
          text-align: center;
        }
      }

      &.card-bg {
        height: 520px;
        box-sizing: border-box;
        background: url(../../public/images/bg_index.png) no-repeat center;
        background-size: 100% 100%;

        .card-info {
          height: 320px;
          text-align: center;
          margin: 300px auto 10%;
          width: 76%;
          color: #fff;
          line-height: 2.3em;
          margin: 0 auto;
          padding: 172px 0;

          h1 {
            font-size: 48px;
            font-weight: 400;
            padding-bottom: 50px;
          }

          p {
            font-size: 1.8rem;
            padding-bottom: 40px;
          }

          a {
            &.btn {
              border-bottom: 4px solid #de9000;
              display: inline-block;
              margin-top: 20px;
              background: orange;
              color: #fff;
              padding: 15px 80px;
              font-size: 2.4rem;
              border-radius: 6px;
            }
          }
        }
      }

      &.page {
        background: #f7f7f7;
        padding-top: 20px;

        .inner-item {
          width: 45%;
          text-align: center;

          img {
            width: 220px;
          }

          span {
            display: block;
            padding: 20px 0 0;
            font-size: 1.8rem;
          }

          p {
            font-size: 14px;
            color: #888;
            line-height: 28px;
            padding: 20px 70px 50px;
            text-align: left;
          }
        }
      }

      .inner {
        .inner-item {
          width: 33%;
          text-align: center;
          float: left;

          img {
            width: 140px;
            max-width: 200px;
            border-radius: 50%;
          }

          span {
            display: block;
            padding: 20px 0 0;
            font-size: 1.8rem;
          }

          p {
            font-size: 1.4rem;
            color: #888;
            line-height: 25px;
            padding: 10px 70px 50px;
          }
        }
      }
    }
  }

  .u-infofoot {
    padding: 100px;
    text-align: center;
    background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);

    .codebox {
      max-width: 300px;
      overflow: hidden;
      text-align: center;
      margin: 10px auto;

      .code {
        overflow: hidden;
        margin-top: 20px;
      }
    }

    h3 {
      margin: 20px;
      font-size: 2.8rem;
      font-weight: 400;
      color: #fff;
    }

    a {
      border: solid #fff 1px;
      color: #fff;
      font-size: 1.6rem;
      padding: 8px 15px;
      display: inline-block;
      border-radius: 5px;

      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }

    p {
      font-size: 1.8rem;
      margin: 20px;
      color: #fff;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .main {

    .card {
      width: 100%;

      .card-item {
        display: table;
        width: 80%;
        max-width: 1080px;
        margin: 0 auto 0;
        padding-top: 5%;

        h1 {
          text-align: center;
          font-weight: 400;
          color: #555;
          font-size: 3.2rem;
          padding-bottom: 60px;
        }

        h3 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 34px;
          padding-bottom: 60px;
          color: #777;
          text-align: center;
        }
      }

      &.card-bg {
        height: 500px;
        box-sizing: border-box;
        background: url(../../public/images/bg_index.png) no-repeat center;
        background-size: 100% 100%;

        .card-info {
          height: 320px;
          text-align: center;
          margin: 300px auto 10%;
          width: 76%;
          color: #fff;
          line-height: 2.3em;
          margin: 0 auto;
          padding: 172px 0;

          h1 {
            font-size: 32px;
            font-weight: 400;
            padding-bottom: 30px;
          }

          p {
            font-size: 1.8rem;
            padding-bottom: 30px;
          }

          a {
            &.btn {
              border-bottom: 4px solid #de9000;
              display: inline-block;
              margin-top: 20px;
              background: orange;
              color: #fff;
              padding: 15px 80px;
              font-size: 2.4rem;
              border-radius: 6px;
            }
          }
        }
      }

      &.page {
        background: #f7f7f7;
        padding-top: 20px;

        .arrow {
          width: 50px;
        }

        .inner-item {
          width: 45%;
          text-align: center;

          img {
            width: 110px;
          }

          span {
            display: block;
            padding: 20px 0 0;
            font-size: 1.8rem;
          }

          p {
            font-size: 14px;
            color: #888;
            line-height: 28px;
            padding: 10px 30px 25px;
            text-align: left;
          }
        }
      }

      .inner {
        .inner-item {
          width: 33%;
          text-align: center;
          float: left;

          img {
            width: 70px;
            max-width: 200px;
            border-radius: 50%;
          }

          span {
            display: block;
            padding: 20px 0 0;
            font-size: 1.6rem;
          }

          p {
            font-size: 1.4rem;
            color: #888;
            line-height: 25px;
            padding: 10px 20px 25px;
          }
        }
      }
    }
  }

  .u-infofoot {
    padding: 100px;
    text-align: center;
    background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);

    .codebox {
      max-width: 300px;
      overflow: hidden;
      text-align: center;
      margin: 10px auto;

      .code {
        overflow: hidden;
        margin-top: 20px;
      }
    }

    h3 {
      margin: 20px;
      font-size: 2.8rem;
      font-weight: 400;
      color: #fff;
    }

    a {
      border: solid #fff 1px;
      color: #fff;
      font-size: 1.6rem;
      padding: 8px 15px;
      display: inline-block;
      border-radius: 5px;

      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }

    p {
      font-size: 1.8rem;
      margin: 20px;
      color: #fff;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .main {

    .card {
      width: 100%;

      .card-item {
        display: table;
        width: 80%;
        max-width: 1080px;
        margin: 0 auto 0;
        padding-top: 5%;

        h1 {
          text-align: center;
          font-weight: 400;
          color: #555;
          font-size: 2.8rem;
          padding-bottom: 40px;
        }

        h3 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 34px;
          padding-bottom: 60px;
          color: #777;
          text-align: center;
        }
      }

      &.card-bg {
        height: 500px;
        box-sizing: border-box;
        background: url(../../public/images/bg_index.png) no-repeat center;
        background-size: 100% 100%;

        .card-info {
          height: 320px;
          text-align: center;
          margin: 300px auto 10%;
          width: 76%;
          color: #fff;
          line-height: 2.3em;
          margin: 0 auto;
          padding: 112px 0;

          h1 {
            font-size: 24px;
            font-weight: 400;
            padding-bottom: 30px;
          }

          p {
            font-size: 1.2rem;
            padding-bottom: 30px;
          }

          a {
            &.btn {
              border-bottom: 4px solid #de9000;
              display: inline-block;
              margin-top: 20px;
              background: orange;
              color: #fff;
              padding: 15px 80px;
              font-size: 2.4rem;
              border-radius: 6px;
            }
          }
        }
      }

      &.page {
        background: #f7f7f7;
        padding-top: 20px;

        .arrow {
          width: 50px;
        }

        .inner-item {
          width: 45%;
          text-align: center;

          img {
            width: 90px;
          }

          span {
            display: block;
            padding: 20px 0 0;
            font-size: 1.8rem;
          }

          p {
            font-size: 14px;
            color: #888;
            line-height: 28px;
            padding: 8px 20px 15px;
            text-align: left;
          }
        }
      }

      .inner {
        .inner-item {
          width: 33%;
          text-align: center;
          float: left;

          img {
            width: 70px;
            max-width: 200px;
            border-radius: 50%;
          }

          span {
            display: block;
            padding: 20px 0 0;
            font-size: 1.4rem;
          }

          p {
            font-size: 1.2rem;
            color: #888;
            line-height: 25px;
            padding: 8px 15px 20px;
          }
        }
      }
    }
  }

  .u-infofoot {
    padding: 100px;
    text-align: center;
    background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);

    .codebox {
      max-width: 300px;
      overflow: hidden;
      text-align: center;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .code {
        overflow: hidden;
        margin-top: 20px;
      }
    }

    h3 {
      margin: 20px;
      font-size: 2.8rem;
      font-weight: 400;
      color: #fff;
    }

    a {
      border: solid #fff 1px;
      color: #fff;
      font-size: 1.6rem;
      padding: 8px 15px;
      display: inline-block;
      border-radius: 5px;

      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }

    p {
      font-size: 1.8rem;
      margin: 20px;
      color: #fff;
    }
  }
}


.container {
  width: 1080px;
  margin: 0 auto;
}

.sysinfo {
  padding-top: 150px;
  color: #ffffff;

  h1 {
    font-size: 36px;
  }

  p {
    margin: 10px 0;
    font-size: 18px;
  }

  .more {
    a {
      color: #ffffff;
    }
  }
}

.info-page {
  min-height: 800px;
  padding-bottom: 50px;
  margin: 112px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;

  .title {
    color: black;
    border-bottom: solid #ddd 1px;
    font-size: 3rem;
    font-weight: 700;
    font-family: "微软雅黑", "Arial", HELVETICA;
    padding: 15px;
    text-align: left;
  }
}

.card .u-contact .cerwm .hd a.active, .card .u-contact .cerwm .hd a:hover {
  border-bottom: 2px solid #18c1d6;
  color: #18c1d6;
}

.bg-f5 {
  background-color: #f5f5f5;
}
