@media screen and (min-width: 1200px) {
  .u-casebox {
    max-width: 1000px;
    margin: 0 auto;

    .owl-item {
      float: left;
    }

    .thisroll {
      position: relative;
      display: flex;
      justify-content: space-between;

      .item {
        position: relative;
        border: solid #ddd 1px;
        width: 220px;
        height: 320px;
        text-align: center;

        img {
          width: 80px;
          height: 80px;
        }

        .box {
          margin-top: 100px;

          span {
            display: block;
            margin-top: 10px;
            color: gray;
            font-size: 1.4rem;
          }
        }

        .u-lay {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);
          box-sizing: border-box;
          padding: 60px 20px 0;
          color: #fff;

          h4 {
            margin-top: 5px;
            font-size: 1.5rem;
          }

          .line {
            display: inline-block;
            height: 3px;
            width: 50px;
            background: #fff;
          }

          p {
            margin-top: 15px;
            line-height: 24px;
            font-size: 1.4rem;
          }
        }

        &:hover {
          .u-lay {
            display: block;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;

      div {
        display: inline-block;
        width: 39px;
        height: 81px;
        font-size: 0;
        top: 10px;
        position: absolute;
        cursor: pointer;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }

      .owl-prev {
        left: -50px;
        background-image: url(../../public/images/info/l.png);
      }

      .owl-next {
        right: -20px;
        background-image: url(../../public/images/info/r.png);
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .u-casebox {
    max-width: 950px;
    margin: 0 auto;

    .owl-item {
      float: left;
    }

    .thisroll {
      position: relative;
      display: flex;
      justify-content: space-between;

      .item {
        position: relative;
        border: solid #ddd 1px;
        width: 220px;
        height: 320px;
        text-align: center;

        img {
          width: 80px;
          height: 80px;
        }

        .box {
          margin-top: 100px;

          span {
            display: block;
            margin-top: 10px;
            color: gray;
            font-size: 1.4rem;
          }
        }

        .u-lay {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);
          box-sizing: border-box;
          padding: 60px 20px 0;
          color: #fff;

          h4 {
            margin-top: 5px;
            font-size: 1.5rem;
          }

          .line {
            display: inline-block;
            height: 3px;
            width: 50px;
            background: #fff;
          }

          p {
            margin-top: 15px;
            line-height: 24px;
            font-size: 1.4rem;
          }
        }

        &:hover {
          .u-lay {
            display: block;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;

      div {
        display: inline-block;
        width: 39px;
        height: 81px;
        font-size: 0;
        top: 10px;
        position: absolute;
        cursor: pointer;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }

      .owl-prev {
        left: -50px;
        background-image: url(../../public/images/info/l.png);
      }

      .owl-next {
        right: -20px;
        background-image: url(../../public/images/info/r.png);
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .u-casebox {
    max-width: 750px;
    margin: 0 auto;

    .owl-item {
      float: left;
    }

    .thisroll {
      position: relative;
      display: flex;
      justify-content: space-between;

      .item {
        position: relative;
        border: solid #ddd 1px;
        width: 160px;
        height: 260px;
        text-align: center;

        img {
          width: 80px;
          height: 80px;
        }

        .box {
          margin-top: 60px;

          span {
            display: block;
            margin-top: 10px;
            color: gray;
            font-size: 1.4rem;
          }
        }

        .u-lay {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);
          box-sizing: border-box;
          padding: 60px 20px 0;
          color: #fff;

          h4 {
            margin-top: 5px;
            font-size: 1.5rem;
          }

          .line {
            display: inline-block;
            height: 3px;
            width: 50px;
            background: #fff;
          }

          p {
            margin-top: 15px;
            line-height: 24px;
            font-size: 1.4rem;
          }
        }

        &:hover {
          .u-lay {
            display: block;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;

      div {
        display: inline-block;
        width: 39px;
        height: 81px;
        font-size: 0;
        top: 10px;
        position: absolute;
        cursor: pointer;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }

      .owl-prev {
        left: -50px;
        background-image: url(../../public/images/info/l.png);
      }

      .owl-next {
        right: -20px;
        background-image: url(../../public/images/info/r.png);
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .u-casebox {
    max-width: 500px;
    margin: 0 auto;

    .owl-item {
      float: left;
    }

    .thisroll {
      position: relative;
      display: flex;
      justify-content: space-between;

      .item {
        position: relative;
        border: solid #ddd 1px;
        width: 100px;
        height: 200px;
        text-align: center;

        img {
          width: 50px;
          height: 50px;
        }

        .box {
          margin-top: 60px;

          span {
            display: block;
            margin-top: 10px;
            color: gray;
            font-size: 1.2rem;
          }
        }

        .u-lay {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);
          box-sizing: border-box;
          padding: 60px 20px 0;
          color: #fff;

          h4 {
            margin-top: 5px;
            font-size: 1.5rem;
          }

          .line {
            display: inline-block;
            height: 3px;
            width: 50px;
            background: #fff;
          }

          p {
            margin-top: 15px;
            line-height: 24px;
            font-size: 1.4rem;
          }
        }

        &:hover {
          .u-lay {
            display: block;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;

      div {
        display: inline-block;
        width: 39px;
        height: 81px;
        font-size: 0;
        top: 10px;
        position: absolute;
        cursor: pointer;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }

      .owl-prev {
        left: -50px;
        background-image: url(../../public/images/info/l.png);
      }

      .owl-next {
        right: -20px;
        background-image: url(../../public/images/info/r.png);
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .u-casebox {
    max-width: 300px;
    margin: 0 auto;

    .owl-item {
      float: left;
    }

    .thisroll {
      position: relative;
      display: flex;
      justify-content: space-between;

      .item {
        position: relative;
        border: solid #ddd 1px;
        width: 60px;
        height: 160px;
        text-align: center;

        img {
          width: 30px;
          height: 30px;
        }

        .box {
          margin-top: 35px;

          span {
            display: block;
            margin-top: 10px;
            color: gray;
            font-size: 1.2rem;
          }
        }

        .u-lay {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: -webkit-linear-gradient(top left, #34a1d6, #34c1d6 90%);
          box-sizing: border-box;
          padding: 60px 20px 0;
          color: #fff;

          h4 {
            margin-top: 5px;
            font-size: 1.5rem;
          }

          .line {
            display: inline-block;
            height: 3px;
            width: 50px;
            background: #fff;
          }

          p {
            margin-top: 15px;
            line-height: 24px;
            font-size: 1.4rem;
          }
        }

        &:hover {
          .u-lay {
            display: block;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;

      div {
        display: inline-block;
        width: 39px;
        height: 81px;
        font-size: 0;
        top: 10px;
        position: absolute;
        cursor: pointer;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }

      .owl-prev {
        left: -50px;
        background-image: url(../../public/images/info/l.png);
      }

      .owl-next {
        right: -20px;
        background-image: url(../../public/images/info/r.png);
      }
    }
  }
}
