.u-donatelist {
  .ulist {
    padding: 50px 0 0 20px;

    li {
      margin: 8px;
      text-align: center;
      width: 110px;
      height: 130px;
      float: left;

      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }

      strong {
        display: block;
        padding: 5px 0;
      }
    }
  }

  .utex {
    margin: 20px 50px;

    a {
      display: inline-block;
      padding: 5px 0;
      float: left;
      color: #666;
      font-size: 16px;
      margin-right: 10px;
    }
  }

  .u-open {
    padding: 20px 50px;

    a {
      background-color: #18c1d6;
      padding: 5px 15px;
      font-size: 1.4rem;
      color: #fff;
      border-radius: 3px;

      &:hover {
        background-color: #16b3c6;
      }
    }
  }
}
