/* 改变主题色变量 */
$--color-primary: #18c1d6;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

/* 改变 icon 字体路径变量，必需 */
// $--font-path: '~/element-ui/lib/theme-chalk/fonts';
// @import '@/element-ui/packages/theme-chalk/src/index';
