@media screen and (min-width: 1200px) {
  .service-detail-con {
    display: flex;

    .service-detail-left {
      padding-right: 100px;

      .service-explain {
        .img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .service-detail-con {
    display: flex;

    .service-detail-left {
      padding-right: 100px;

      .service-explain {
        .img {
          embed {
            width: 100%;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .service-detail-con {

    .service-detail-left {

      .service-explain {
        .img {
          embed {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .service-detail-con {

    .service-detail-left {

      .service-explain {
        .img {
          embed {
            width: 100%;
          }
        }
      }
    }
  }

  .con-button{
    .category{
      margin-bottom: 10px;
    }
  }
}

.service-detail-con {

  .service-detail-left {
    font-size: 12px;

    .service-detail-left-title {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f4f4f4;

      .title-left {
        display: flex;

        .img {
          float: left;

          img {
            width: 100px;
            height: 100px;
          }
        }

        .con {
          float: left;
          margin-left: 20px;

          .con-title {
            font-size: 20px;
            color: #333;
          }

          .con-button {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;

            span {
              a {
                padding: 1px 3px;
              }
            }

            span:first-of-type {
              margin-right: 8px;
              a {
                color: #00b2c8;
                border: solid 1px #00b2c8;
              }
            }

            span:last-of-type {
              a {
                color: #27d61a;
                border: solid 1px #27d61a;
              }
            }
          }

          .con-con {
            color: #999;
          }
        }
      }

      .col-right {
        padding-left: 20px;

        .width-80 {
          width: 80px;
        }

        p {
          el-button {
            width: 100%;
            height: 34px;
            color: #00b2c8;
            border: 1px solid #00b2c8;
            border-radius: 0;
          }
        }

        p:last-of-type {
          margin-top: 10px;
        }
      }
    }

    .combo {
      margin-top: 20px;

      .combo-con {
        display: flex;
        align-items: center;

        el-button {
          min-width: 80px;
          height: 40px;
          border-radius: 0;
          margin-left: 10px;
          font-size: 14px;
        }

        .active {
          background-color: #00b2c8;
          color: #fff;
          border: none;
        }
      }

      .price {
        margin-top: 30px;
        margin-bottom: 35px;
      }

      .con-btn {
        el-button {
          width: 140px;
          height: 40px;
          background-color: #00b2c8;
          border-radius: 0;
          color: #fff;
          font-size: 14px;
        }
      }
    }

    .service-explain {
      margin-top: 60px;

      .title {
        padding-bottom: 15px;
        text-align: center;
        font-size: 16px;
        color: #00b2c8;
        border-bottom: 2px solid #00b2c8;
        width: 100px;
      }

      .border {
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 20px;
      }

      .img {
        min-height: 288px;
      }

      .service-detail-imgs{
        div {
          display: flex !important;
          flex-direction: column !important;
          align-items: center !important;
        }
      }
    }
  }

  .service-detail-right {
    .contact {
      background: #f5f6f7;
      padding: 20px;
      font-size: 14px;

      .customer {
        padding-bottom: 27px;
        border-bottom: 1px solid #ddd;

        .title {
          margin-bottom: 18px;
          font-size: 18px;
        }

        .img {
          align-items: flex-end;

          a {
            justify-content: flex-end;
          }

          .text {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }

    .scene {
      padding: 28px 29px 29px 30px;
      margin-top: 15px;
      background: #f5f6f7;

      .title {
        font-size: 24px;
        color: #333333;
        margin-bottom: 20px;
      }

      .scene-con {
        img {
          width: 100%;
        }

        .con {
          margin-top: 20px;
          margin-bottom: 29px;

          p:first-of-type {
            margin-bottom: 14px;
            font-size: 18px;
            color: #333;
          }

          p:last-of-type {
            margin-bottom: 14px;
            font-size: 14px;
            color: #666;
          }
        }

        .con:last-of-type {
          margin-bottom: 0;
        }
      }

      .scene-con:last-of-type {
        .con {
          margin-bottom: 0;

          p:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
